# ============================================================
# PYTHON
# ============================================================

__pycache__/
*.py[cod]
*.pyo

# ============================================================
# JUPYTER
# ============================================================

.ipynb_checkpoints/

# ============================================================
# VIRTUAL ENVIRONMENTS
# ============================================================

venv/
env/
.venv/

# ============================================================
# MLFLOW LOCAL DATABASE
# ============================================================

mlflow.db
mlflow.db-shm
mlflow.db-wal

# ============================================================
# MLFLOW ARTIFACT STORAGE
# ============================================================

mlartifacts/

# ============================================================
# LOCAL MLFLOW OLD STORAGE
# ============================================================

mlruns/

# ============================================================
# MODEL FILES
# ============================================================

*.pkl
*.pickle
*.joblib

# ============================================================
# SECRETS / ENVIRONMENT
# ============================================================

.env
.env.*

# ============================================================
# OPERATING SYSTEM
# ============================================================

.DS_Store
Thumbs.db

# ============================================================
# TEMPORARY FILES
# ============================================================

*.tmp
*.temp